.my-navbar {
  background-color: black;
  width: 100%;
  color: white;
  height: 15%;
  font-size: 20pt;
  padding: 1%;
}

.logOut {
  margin-left: 89%;
  margin-top: -15px;
  color: white;
  font-size: 13pt;
}

.brand {
  margin-left: 15px;
}
