.profileWrap {
  width: 300px !important;
  height: auto !important;
  margin-left: 5%;
  margin-top: .5%;
  background-color: black;
  color: white;
  padding-bottom: 1%;
  border-radius: 10px;
}

.img-fluid {
  width: 275px;
  height: 275px;
  border-radius: 20px;
  padding: 1%;
}

.card {
  text-align: center;
}