.profile {
  margin: 1%;
  margin-left: 2%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-radius: 20px;
  padding: 1%;
  
  img {
    overflow: hidden;
    border-radius: 16px;
    max-width: 300px;
    padding: 3%;
    margin: 1%;
  }
}