.userInput {
  width: 70%;
  height: 13%;
  margin-top: 4.5%;
  background-color: rgb(60, 60, 60);
  color: white;
  margin-bottom: 1%;
  border-radius: 15px;
  padding: 5px;
  padding-top: 5px;
}

.userName {
  border-radius: 10px;
  width: 75%;
}

.itemLink {
  border-radius: 10px;
  width: 75%;
}

.add-btn {
  width: 70px;
  height: 85px;
  margin: .5%;
  padding: 1%;
}

#submitButton {
  margin-top: 1%;
}