.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.crudWrap {
  align-content: center;
  border: black solid 2px;
  max-width: 300px;
  height: auto;
}

.formWrapper {
 display: flex !important;
//  border: black solid 2px;
 padding: 2%;
 background-color: black;
 color: white;
 text-align: center;
}

.form {
  border: black solid 3px;
  border-radius: 10px;
  margin: 2%;
 color: black;
 background-color: white;
  margin-top: -547px;
  margin-left: 300px;
  text-align: center;
}

.form-description {
  width: 125%;
  border-radius: 5px;
  height: 25px;
  margin-right: 10px;
}

.form-url {
  width: 125%;
  border-radius: 5px;
  height: 25px;
  margin-right: 10px;
}

.radio {
  margin-left: 5%;
 padding: 1%;
  margin-top: 15px;
  margin-right: 5px;
}

.addButton {
  margin-left: 50px;
  margin-top: 13px;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  background-color: rgb(65, 64, 64);
  color: white;
  padding: 1%;
  text-align: center;
}

h1 {
  font-size: 24pt;
}
