@import '../../styles/_variables';

.blog-item {
  background: $darkGray;
  border: 1px solid $lightGray;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: border 150ms;
  margin: 2%;
  margin-left: -10px;
  padding: 1%;
  border-radius: 5px;
  text-align: left;

  &:hover {
      border-color: $darkGray;
  }
}

.trash {
  margin-right: 15px;
}