#dashTabs {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 1%;
  width: 70%;
  height: 400px;
  margin-left: 28%;
  margin-top: -27%;
}

h4 {
  margin: 1%;
  font-size: 18pt;
}